In [16]:
print("Hello world greeting message.")

Hello world greeting message.

In [5]:
print("Numbers divisible by 7 but not are in multiple of 5:")

for i in range(2000, 3201):
    if(i%7 == 0 and i%5 != 0):
        print(i, end=', ')

Numbers divisible by 7 but not are in multiple of 5:
2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

In [12]:
print("Accept user's first and last name, print in reverse order with space in between:")

first_name = input("Enter first name:")
last_name = input("Enter last name:")

print("User's first and last name: {} {}".format(first_name, last_name))
print("Reverse order of user name: ",last_name[::-1], first_name[::-1])

Accept user's first and last name, print in reverse order with space in between:
Enter first name:nakul
Enter last name:patel
User's first and last name: nakul patel
Reverse order of user name:  letap lukan

In [17]:
print("Find volume of sphere:")

print("Volumd of sphere:", ((4/3) * 3.14 * (12**3)))

Find volume of sphere:
Volumd of sphere: 7234.5599999999995

In [22]:
print("Generate list:")

input_num = input("Enter comma seperated numbers:")
list_str = input_num.split(',')
print("Comma seperated list of string values: ", list_str)
list_num = []
for i in list_str:
    list_num.append(int(i))
print("Comma sepeated list of numeric values: ",list_num)

Generate list:
Enter comma seperated numbers:0,1,2,3,4,5,6,7,8,9
Comma seperated list of string values:  ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
Comma sepeated list of numeric values:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
column = 1

for i in range(0, 10):
    for j in range(1, column):
        print("* ", end="")
    if(i < 5):
        column+=1
    else:
        column-=1
    print("\r")

In [ ]:
print("Reverse input from user:")
input_txt = input("Enter word to see reverse:")
print("Reversed string: ", input_txt[::-1])

In [ ]:
print("Alignment string:")
str1 = "WE, THE PEOPLE OF INDIA,"
str2 = "having solemnly resolved to constitute India into a SOVEREIGN, !"
str3 = "SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC"
str4 = "and to secure to all its citizens"

print(str1)
print(str2.rjust(70))
print(str3.rjust(50))
print(str4.rjust(45))